<suite name="EurekaForbesSuite">
    <test name="DesktopTests">
        <parameter name="platform" value="desktop"/>
        <classes>
            <class name="Tests.HomePageTests"/>
        </classes>
    </test>
    <test name="MobileTests">
        <parameter name="platform" value="desktop"/>
        <classes>
            <class name="Tests.HomePageTests"/>
        </classes>
    </test>
</suite>
